<% layout('layout/auth') -%>


<div class="container-fluid">
    <div class="row">
        <% include layout/sidebar %>
        <div class="  col-lg-10 col-12 offset-lg-2  " style="margin-top: 80px;">
            <div class="row mt-4 ">
                <form action="/edit/<%= edit.id %>" method="post" class="needs-validation" novalidate>
                    <!-- Product Name -->
                    <div class="form-floating mb-3">
                        <div class="col-md-4">
                            <label for="validationDefault01" class="form-label">product name</label>
                            <input type="text"  class="form-control" name="name" id="validationDefault01" value="<%= edit.name%>" required>
                        </div>
                    </div>
                    <!-- Product Description -->
                    <div class="mb-3">
                        <label for="validationTextarea" class="form-label">description</label>
                        <textarea class="form-control" id="validationTextarea" name="description" placeholder="Required description" required><%= edit.description%></textarea>
                        <div class="invalid-feedback">
                            Please enter a message in the description.
                        </div>
                    </div>
                    <!-- Product Status -->
                    <div class="mb-3">
                        <label class="form-label d-block">Status</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status" id="statusActive" value="active" "   <%= edit.status === 'active' ? 'checked' : '' %>   required>
                            <label class="form-check-label" for="statusActive">Active</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status" id="statusInactive" value="inactive" <%= edit.status === 'inactive' ? 'checked' : '' %> required>
                            <label class="form-check-label" for="statusInactive">Inactive</label>
                        </div>
                        <div class="invalid-feedback d-block">
                            Please select a status.
                        </div>
                    </div>
                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

