<% layout('layout/auth') -%>



<div class="container-fluid">
    <div class="row">
        <!--   sidebar -->
        <% include layout/sidebar %>
        <!--   main content  -->
        <div class="  col-lg-10 col-12 offset-lg-2  " style="margin-top: 70px;">
            <!--  create user _Sidebar start-->
                   <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                       <div class="offcanvas-header">
                           <h5 class="offcanvas-title" id="offcanvasRightLabel">New Product Create</h5>
                           <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                       </div>
                       <div class="offcanvas-body">
                           <form action="/admin/product" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                               <!-- Product image -->
                               <div class="form-floating mb-3">
                                   <div class="col-md-4 w-100">
                                       <label for="validationDefault01" class="form-label">product image</label>
                                       <input type="file"  class="form-control" name="image" id="validationDefault01" placeholder="product image" value=""  multiple required>
                                       <div class="invalid-feedback">
                                           Please enter a product image.
                                       </div>
                                   </div>
                               </div>
                               <!-- Product Name -->
                               <div class="form-floating mb-3">
                                   <div class="col-md-4 w-100">
                                       <label for="validationDefault02" class="form-label">product name</label>
                                       <input type="text"  class="form-control" name="name" id="validationDefault02" placeholder="product name" value="" required>
                                       <div class="invalid-feedback">
                                           Please enter a product name.
                                       </div>
                                   </div>
                               </div>
                               <!-- Product Description -->
                               <div class="mb-3">
                                   <label for="validationTextarea" class="form-label">description</label>
                                   <textarea class="form-control" id="validationTextarea" name="description" placeholder="product description" required></textarea>
                                   <div class="invalid-feedback">
                                       Please enter a message in the description.
                                   </div>
                               </div>
                               <!-- Product Status -->
                               <div class="mb-3">
                                   <label class="form-label d-block">Status:</label>
                                   <div id="statusGroup" class="border-0 p-0">
                                       <!-- Radio buttons container -->
                                           <div class="form-check d-flex">
                                               <div class="me-5">
                                                   <input class="form-check-input" type="radio" name="status" id="active" value="active" required>
                                                   <label class="form-check-label" for="active">Active</label>
                                                   <div class="invalid-feedback">
                                                       Please select a status.
                                                   </div>
                                               </div>
                                               <div>
                                                   <input class="form-check-input" type="radio" name="status" id="inactive" value="inactive"  required>
                                                   <label class="form-check-label" for="inactive">Inactive</label>
                                               </div>
                                           </div>
                                   </div>
                               </div>
                               <!-- Submit Button -->
                               <button type="submit" class="btn btn-primary">Submit</button>
                           </form>
                       </div>
                   </div>
            <!--    Sidebar end-->

            <!--    All product details    -->
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="card" >
                        <div class="card-header d-flex justify-content-between ">
                            <h2>All products</h2>
                            <button class="btn btn-primary " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-plus "></i> Create</button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive h-auto" >
                                <table class="table "  >
                                    <thead>
                                    <tr>
                                        <th>image</th>
                                        <th>Brand</th>
                                        <th>description</th>
                                        <th>status</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                    <% if(items.length == 0) {%>
                                        <td colspan="4" class="text-center">No product found</td>
                                            <td colspan="4" class="text-center"></td>
                                    <% } %>
                                    <% items.forEach( element => { %>
                                         <td style="width: 400px;">
                                            <% element.image.forEach(img => {  %>
                                             <img src="/assets/images/<%= img %>" style="height: 30px;margin-left: 2px">
                                            <% }) %>
                                        </td>
                                        <td><%= element.name|| "-" %></td>
                                        <td><%= element.description || "-"%></td>
                                        <td ><button class="border border-0 px-2 fs-6 rounded-pill" style="background-color: rgba(0,128,0,0.3)"><%= element.status || "-" %></button></td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-light " data-bs-toggle="dropdown" aria-expanded="true">
                                                    <i class="bi bi-three-dots-vertical"></i>
                                                </button>
                                                <ul class="dropdown-menu  text-center " >
                                                    <li >
                                                        <a class="dropdown-item " href="/view/<%= element.id %>">
                                                            <i class="bi bi-eye me-2"></i><span>view</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="/edit/<%= element.id %>"><i class="bi bi-pencil-square me-2"></i><span>Edit</span></a>
                                                    </li>
                                                    <li>
                                                        <a  class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= element._id %>">
                                                            <i class="bi bi-trash me-1 ms-3"></i> <span>Delete</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>

                                    </tr>
                                    <div class="modal fade" id="staticBackdrop<%= element._id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">product detail</h1>

                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body d-flex flex-column">
                                                    <h3>brand : <%= element.name || "-" %></h3>
                                                    <span><b>Description</b> : <%= element.description || "-" %></span>
                                                    <span><b>status</b> : <%= element.status || "-" %></span>
                                                </div>
                                                <div class="modal-footer">
                                                    <form action="/delete/<%= element._id %>" method="POST">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                        <button type="submit" class="btn btn-danger">conform Delete</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } ) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<% include layout/toast_message/product_add_message.ejs %>
<% include layout/toast_message/product_delete_message.ejs %>
<% include layout/toast_message/product_update_message.ejs %>



<div class="container ">
    <div class="row d-flex justify-content-center  ">
        <div class="col-4 ">

            <% if (typeof  create_failed  !== 'undefined' &&  create_failed ) { %>
                <div class="toast show  top-0 z-3 m-0 position-fixed bg-success text-white bg-success" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">Login</strong>
                        <small>Just now</small>

                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        <%=  create_failed %>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>

<div class="container ">
    <div class="row d-flex justify-content-center  ">
        <div class="col-4 ">

            <% if (typeof  limit  !== 'undefined' &&  limit ) { %>
                <div class="toast show  top-0 z-3 m-0 position-fixed bg-success text-white bg-success" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">Login</strong>
                        <small>Just now</small>

                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        <%=  limit %>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>